
html{height: 100%;
width: 100%;
}

body{
text-align: center;
    height: 100%;
    width:100%;
    background-image: url("../cryptocurrency.jpg");
    background-size: cover;
}


.center{
text-align: center;
    height: 100%;
    width:100%;
}

.inscription{
background-color: white;
opacity: .8;
height: 357px;
width: 200px;
margin-left: auto;
margin-right: auto;
width: 50em;
}

.connexion{
background-color: white;
opacity: .8;
height: 221px;
width: 290px;
margin-left: auto;
margin-right: auto;
width: 50em;
}

