
html{height: 100%;
width: 100%;}
body{
text-align: center;
margin: 0px;
 margin: 0px;
  padding: 0px;
    height: 100%;
    width:100%;
}


.center{
text-align: center;
border: 10px solid black;
}

.inscription{
background-color: blue;
height: 357px;
width: 200px;
   margin-left: auto;
   margin-right: auto;
   width: 50em;
}

.connexion{
background-color: gold;
height: 221px;
width: 290px;
border: 10px solid black;
   margin-left: auto;
   margin-right: auto;
   width: 50em;
}

